<input type="text" name="username" id="username" [(ngModel)]="username">
<br>
<input type="password" name="password" id="password" [(ngModel)]="password">
<br>
<input type="button" value="Login" (click)="Login()">
<br>
<input type="button" value="Display list" (click)="DisplayList()" />

